.blog_section {
  overflow: hidden;

  .bg-size {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
  }
}
.blog_section .blog-wrap {
  border-radius: 25px;
  -webkit-box-shadow: 2.5px 4.33px 35px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 2.5px 4.33px 35px 0px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog_section .blog-wrap .blog-image {
  position: relative;
  overflow: hidden;
}
.blog_section .blog-wrap .blog-image .bg-size {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog_section .blog-wrap .blog-image .blog-label {
  position: absolute;
  background-color: white;
  padding: 14px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 30px;
  bottom: 30px;
  border-radius: 10px;
}
.blog_section .blog-wrap .blog-image .blog-label h3 {
  color: black;
  font-weight: 700;
  margin-bottom: 0;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.blog_section .blog-wrap .blog-image .blog-label h6 {
  font-size: 14px;
  color: #565857;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.blog_section .blog-wrap .blog-details {
  padding: 40px 35px;
}
.blog_section .blog-wrap .blog-details h6 {
  color: #9a9a9a;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
.blog_section .blog-wrap .blog-details h6 i {
  color: #00a2f7;
  margin-right: 3px;
}
.blog_section .blog-wrap .blog-details h6 i.color-1 {
  color: $c3;
}
.blog_section .blog-wrap .blog-details h5 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #333333;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog_section .blog-wrap .blog-details p {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 1.5;
  margin-bottom: -3px;
}
.blog_section .blog-wrap:hover {
  -webkit-box-shadow: 2.5px 4.33px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2.5px 4.33px 35px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog_section .blog-wrap:hover .blog-image .bg-size {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog_section .blog-wrap:hover .blog-details h5 {
  color: $c3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog_section .slick-slide > div {
  margin: 0 25px;
}
.blog_section .slick-list {
  margin-left: -25px;
  margin-right: -25px;
}
.blog_section.section-b-space {
  padding-bottom: 70px;
  padding-top: 100px;
}
.blog_section.destination-section .slick-slide > div {
  margin: 0 30px;
}
.blog_section.destination-section .slick-list {
  margin-left: -30px;
  margin-right: -30px;
}
.blog_section.destination-section .destination-details {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.blog_section.destination-section .destination-details h5 {
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 600;
  margin-bottom: 5px;
}
.blog_section.destination-section .destination-details h2 {
  color: black;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 800;
  margin-bottom: 10px;
}
.blog_section.destination-section .destination-details h6 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.56);
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.blog_section.destination-section .destination-details .btn {
  text-transform: capitalize;
  // font-size: calc(14px + (20 - 14) * ((100vw - 320) / (1920 - 320)));
}
.blog_section.inner-blog .blog-wrap {
  border-radius: 0;
}
.blog_section.inner-blog .blog-wrap .blog-details h6 i {
  color: $c3;
}
.blog_section.inner-blog .blog-wrap .blog-image .blog-label {
  border-radius: 0;
}

.subscribe-footer {
  padding: 40px 0;

  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
.subscribe-footer .service-left {
  float: left;
}
.subscribe-footer .service-left .service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  border-left: 1px solid white;
}
.subscribe-footer .service-left .service-box .icon svg {
  fill: white;
  color: $white;
  width: 40px;
  height: 40px;
}
.subscribe-footer .service-left .service-box .detail {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subscribe-footer .service-left .service-box .detail h5 {
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  margin-bottom: 0;
}
.subscribe-footer .service-left .service-box .detail p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
  text-transform: capitalize;
}
.subscribe-footer .service-left ul li:first-child .service-box {
  padding-left: 0;
  border-left: none;
}
.subscribe-footer .service-right {
  float: right;
}
.subscribe-footer .service-right .input-group input {
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 25px;
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
  border-radius: 50px 0 0 50px;
}
.subscribe-footer .service-right .input-group input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe-footer .service-right .input-group ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.subscribe-footer .service-right .input-group ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.subscribe-footer .service-right .input-group :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.subscribe-footer .service-right .input-group ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.subscribe-footer .service-right .input-group ::placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.subscribe-footer .service-right .btn-subscribe {
  background-color: $white !important;
  color: $c3;
  border: 0;
  text-transform: capitalize;
  border-radius: 0 50px 50px 0;
  padding: 8px 20px;
}
.subscribe-footer .service-right .btn-subscribe:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px solid transparent;
}
.subscribe-footer.zig-zag-effect:after {
  -webkit-filter: invert(0.9);
  filter: invert(0.9);
}
