.form {
  &-control {
    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: rgba($black, 0.5);
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      text-transform: capitalize;
      font-weight: 700;
    }
  }

  &-check {
    &-label {
      font-size: 14px;
      color: $c5;
      text-transform: capitalize;
    }
    // &-input {
    //   &:checked[type="radio"] {
    //   }
    // }
  }
}

.react-datepicker-wrapper {
  width: 100%;

  .form {
    &-control {
      height: 54px;

      @media (max-width: 576px) {
        height: 36px;
      }
    }
  }
}

.showPassengers {
  text-align: left;
  padding: 10px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 3;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  top: auto;

  .rowSt {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: $c5;
      text-transform: capitalize;
      font-size: 14px;
      margin: 0;
    }

    .inputGp {
      display: flex;
      align-items: center;

      .btn {
        color: $c5;
        font-size: 18px;
        padding: 0 6px;

        &:hover {
          color: $c5;
        }
      }
    }
  }

  .flightClass {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 3px;

    .form {
      &-check {
        &-label {
          font-size: 14px;
          color: $c5;
          text-transform: capitalize;
          display: flex;
          align-items: center;
        }
        &-input {
          border-color: rgba($black, 0.25);
          // width: 20px;
          // height: 20px;
          position: relative;

          &:focus {
            box-shadow: none;
          }

          &::before {
            transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            transform: scale(0, 0);
            content: "";
            position: absolute;
            top: 0;
            left: 0.125rem;
            z-index: 1;
            width: 0.75rem;
            height: 0.75rem;
            background: $c3;
            border-radius: 50%;
          }

          &::after {
            content: "";
            position: absolute;
            top: -0.25rem;
            left: -0.125rem;
            width: 1.25rem;
            height: 1.25rem;
            background: $white;
            border: 2px solid #e8ebf2;
            border-radius: 50%;
          }

          &:checked {
            &::before {
              transform: scale(1, 1);
            }
            &[type="radio"] {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .bottomPart {
    border-top: 1px solid #e7e7e7;
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: end;

    .btn {
      color: $c5;
      line-height: 20px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.flightConnecting {
  .form {
    &-check {
      &-label {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        color: $white;
        margin-inline-end: 30px;
      }
      &-input {
        width: 18px;
        height: 18px;
        margin: 0;

        &:focus {
          box-shadow: none;
        }

        &:checked {
          background-color: $c3;
          border-color: $c3;
          &[type="radio"] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }
}

label {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
}
