.flight {
  &-search {
    &-detail {
      .searchForm {
        .autoComplete {
          .jiMOeR {
            height: 38px;
            width: 100%;

            .wrapper {
              .dYrfwz {
                height: 100%;
                min-height: 38px;

                input {
                  height: 38px;
                }
              }
            }
          }
        }

        .react-datepicker-wrapper .form-control {
          height: 38px;
        }
      }

      .inputGroup {
        display: flex;
        align-items: center;
        .icon {
          background-color: $white;
          padding: 5px;
          width: 44px;
          color: rgba($black, 0.1);
          text-align: center;
          font-size: 18px;
          border: 1px solid;
          border-left: 0;
          height: 38px;
        }
      }

      .btn-c3 {
        height: 38px;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
      }

      @media (max-width: 576px) {
        .searchForm {
          .autoComplete {
            .jiMOeR {
              height: 32px;
              width: 100%;

              .wrapper {
                .dYrfwz {
                  height: 100%;
                  min-height: 32px;

                  input {
                    height: 32px;
                  }
                }
              }
            }
          }

          .react-datepicker-wrapper .form-control {
            height: 32px;
          }
        }

        form input {
          font-size: 12px;
        }

        .inputGroup {
          display: flex;
          align-items: center;
          .icon {
            background-color: $white;
            padding: 5px;
            width: 36px;
            color: rgba($black, 0.1);
            text-align: center;
            font-size: 14px;
            border: 1px solid;
            border-left: 0;
            height: 32px;
          }
        }
      }
    }
  }
}

.horizontal-slider {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.example-thumb {
  height: 20px;
  width: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
  top: -8px;
}

.example-track {
  background: #007bff;
}
