@import "scss/variables";
@import "scss/typography";
@import "scss/rica";
@import "scss/loader";
@import "scss/miss";
@import "scss/navbars";
@import "scss/fonts";
@import "scss/fontAwesome";
@import "scss/buttons";
@import "scss/form";
@import "scss/rangeSlider";
@import "scss/datepicker";
@import "scss/autoComplete";
@import "scss/blog";
@import "scss/footers";
@import "scss/breadcrumb";
@import "scss/searchBar";
@import "scss/slickTheme";
@import "scss/home";

// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// html,
// body {
//   max-width: 100vw;
//   overflow-x: hidden;
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
